.first-v {
  width: 100%;
  height: 100vh;
  background-image: url(../img/Blond\ woman\ with\ long\ curly\ beautiful\ hair.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100% 0;
  position: relative;
  @include tab {
    background-size: cover;
  }
  @include sp {
    background-size: cover;
    background-position: 0% 0%;
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 27%;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translate(0, -50%);
    text-align: right;
    font-size: 3.8rem;
    @include tab {
      width: 76%;
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      font-size: 2.8rem;
    }
  }
}

.catch1 {
  font-family: "ヒラギノ明朝 Pro";
  @include tab {
    transform: translate(0, 290%);
  }
}

.catch2 {
  font-family: Zapfino;
  @include tab {
    transform: translate(0, -620%);
  }
}